interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://archive-api.open-meteo.com/v1/archive?latitude=40.7128&longitude=-74.006&start_date=2024-02-01&end_date=2024-02-03&daily=temperature_2m_max%2Ctemperature_2m_min&timezone=auto
  response:
    body:
      string: "{\"latitude\":40.738136,\"longitude\":-74.04254,\"generationtime_ms\":1.1366605758666992,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":32.0,\"daily_units\":{\"time\":\"iso8601\",\"temperature_2m_max\":\"\xB0C\",\"temperature_2m_min\":\"\xB0C\"},\"daily\":{\"time\":[\"2024-02-01\",\"2024-02-02\",\"2024-02-03\"],\"temperature_2m_max\":[9.0,6.0,6.0],\"temperature_2m_min\":[-3.4,1.4,-3.2]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
